* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}



.hero-section {
  height: 100vh;
  background: url(./images/green.png) center / cover no-repeat;
  background-attachment: fixed; /* optional, for a parallax effect */
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero-section {
  border: 5px solid red;
}


nav {
  padding: 1rem 2rem;
}

.main-window {
  border: 2px solid black;
  margin: 24px auto;
  /* padding: 24px 32px; */
  display: flex;
  flex-direction: column;
}

.main-window header {
  background-color: hsla(0, 0%, 0%, 0.504);
}

.hidden {
  display: none;
}