* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}



.hero-section {
  height: 100vh;
  background: url(./images/green.png) center / cover no-repeat;
  background-attachment: fixed; /* optional, for a parallax effect */
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero-section {
  border: 5px solid red;
}


nav {
  padding: 1rem 2rem;
}

.main-window {
  height: 410px;
  width: 640px;
  border: 2px solid black;
  margin: 24px auto;
  /* padding: 24px 32px; */
  display: flex;
  flex-direction: column;
}

.main-window header {
  background-color: #424242;
  padding: 0.5rem;
}

.actions {
  display: inline-flex;
}

.action {
  display: inline-block;
  text-align: center;
  margin: 0 12px; /* optional spacing between icons */
}
.action i {
  display: block; /* forces icon to appear above text */
  font-size: 1.8rem; /* example size */
}

.hidden {
  display: none;
}