* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}



.hero-section {
  height: 100vh;
  background: url(./images/green.png) center / cover no-repeat;
  background-attachment: fixed; /* optional, for a parallax effect */
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 1rem 2rem;
}

.main-window {
  height: 410px;
  width: 640px;
  border: 2px solid black;
  margin: 24px auto;
  /* padding: 24px 32px; */
  display: flex;
  flex-direction: column;

  border-radius: 16px;
}

.main-window header {
  background-color: #424242;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 16px 16px 0 0;

}

.content {
  padding: 1rem 2rem;
  margin: 34px auto;
  text-align: center;
  flex: 1;
}
.content .intro, .intro span {
  font-size: 3rem;

}

.content .who {
  font-size: 2rem;

}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.action {
  display: inline-block;
  text-align: center;
  margin: 0 12px; /* optional spacing between icons */
}
.action i {
  display: block; /* forces icon to appear above text */
  font-size: 1.8rem; /* example size */
  cursor: pointer;
}

.action i:hover {
  font-size: 2rem;
  transition: 1s;
}

.hidden {
  display: none;
}